<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Compro En Linea" >


		<link rel="apple-touch-icon" href="{{ base_url() }}/assets/img/apple-icon.png">
   		<link rel="icon" href="{{ base_url() }}/assets/img/favicon.png">

		{% block head %}
		{% endblock %}

		
		<base href="{{ base_url() }}" />

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    	<link rel="stylesheet" href="{{ base_url() }}/assets/css/material-kit.css?v=2.0.0">

		{% block aditional_css %}
		{% endblock %}

		<title>
		{% block title %}{% endblock %}| Compro en Linea
		</title>
	</head>
	<body class="ecommerce">
		{% include 'guest_views/guest_partials/fixed/flash.twig' %}
		{% block pre_header %}{% endblock %}		
		{% include 'guest_views/guest_partials/fixed/navbar.twig' %}		
		{% block content %}{% endblock %}	
		{% include 'guest_views/guest_partials/fixed/footer.twig' %}
		
		
		

		<!--   Core JS Files   -->
    	<script src="{{ base_url() }}/assets/js/core/jquery.min.js"></script>
	    <script src="{{ base_url() }}/assets/js/core/popper.min.js"></script>
	    <script src="{{ base_url() }}/assets/js/bootstrap-material-design.js"></script>
	    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	    <script src="{{ base_url() }}/assets/js/plugins/moment.min.js"></script>
	    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	    <script src="{{ base_url() }}/assets/js/plugins/bootstrap-selectpicker.js"></script>
	    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
	    <script src="{{ base_url() }}/assets/js/plugins/bootstrap-tagsinput.js"></script>
	    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	    <script src="{{ base_url() }}/assets/js/plugins/jasny-bootstrap.min.js"></script>
	    <!--	Plugin for Small Gallery in Product Page -->
	    <script src="{{ base_url() }}/assets/js/plugins/jquery.flexisel.js"></script>
	    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
	    <script src="{{ base_url() }}/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
	    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	    <script src="{{ base_url() }}/assets/js/plugins/nouislider.min.js"></script>
	    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
	    <script src="{{ base_url() }}/assets/js/material-kit.js?v=2.0.0"></script>
	    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
	    <script src="{{ base_url() }}/assets/assets-for-demo/js/material-kit-demo.js"></script>
	    <!-- Plugins for presentation and navigation  -->
	    <script src="{{ base_url() }}/assets/assets-for-demo/js/modernizr.js"></script>
	    <script src="{{ base_url() }}/assets/assets-for-demo/js/vertical-nav.js"></script>



		{% block custom_js %}
		{% endblock %}		

		</body>
</html>